@{
    ViewData["Title"] = "haqqımızda";
}

<!-- about -->
<section class="about_section">
    <div class="about_title">
        <h1 class="about_title_text">Haqqımızda</h1>
        <h1 class="about_title_description">
            Bizi seçdiyiniz üçün təşəkkürlər.
        </h1>
    </div>
    <div class="about_text container">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis
            dolor officiis ea! Voluptas corporis rem atque aliquam minus id quis
            alias harum deleniti, impedit eius quam, quae vero quod ea.
            Repellendus ipsam facere corporis ipsa blanditiis iusto qui voluptas
            quaerat quisquam alias, praesentium sequi eligendi rerum, nostrum
            temporibus optio ex doloribus voluptate hic officia explicabo quo.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsam
            amet pariatur sed illo voluptatem deleniti minus consequatur quis
            fugiat eveniet ipsa exercitationem ullam dolores rerum, provident
            consectetur nesciunt quos? Facere, facilis dolore. Quam exercitationem
            suscipit cumque commodi voluptates eum placeat praesentium minima
            cupiditate, facere alias sit delectus ad officia? Accusamus facere
            ratione dolores, sint eligendi perspiciatis neque vero soluta! Quos
            nobis odio sed perspiciatis voluptates ut dicta. Placeat eligendi ad
            molestiae expedita veritatis, consectetur doloribus, aliquam labore
            iste, a maxime. Ea, non! Enim modi iste ea reiciendis et quia! Id
            labore, illum quasi esse soluta sed necessitatibus odio quas sunt
            alias illo deserunt, laborum praesentium? Ipsam dignissimos mollitia
            culpa rerum. Similique recusandae molestias harum earum nam illo
            excepturi aspernatur? Aspernatur modi autem quam accusantium id a iste
            eum ea rem voluptas magni voluptate sint ipsum molestias explicabo,
            magnam minima esse consequatur. Vel iure at ut consequuntur ratione
            cumque fuga! Ex at, numquam quidem quia cumque qui in cupiditate,
            blanditiis delectus consequuntur, ipsum facere eveniet magnam illo.
            Veritatis fugit aliquid ipsa, repellendus, numquam vitae nisi eligendi
            ad magnam facilis placeat. Molestias, vel dignissimos. Eaque natus
            accusantium assumenda ipsa libero modi culpa error ex? Aliquam,
            reprehenderit laudantium veniam ab cupiditate magnam repellat, eum,
            totam ipsam aliquid alias. Veniam eum eaque amet? Consequuntur
            assumenda repellat sit! Nesciunt distinctio repellat quae. Iure est
            dicta nemo amet dignissimos accusamus, fuga id voluptatum vel
            doloremque et commodi maxime fugit repudiandae nostrum dolorem.
            Temporibus, quibusdam ducimus. Vel quam, labore eveniet totam
            recusandae est dicta error mollitia, doloremque non dolor obcaecati
            quod veniam voluptatem maxime ad magni maiores ratione minus, ut
            consequatur eius. Nisi dicta totam molestias? Quas commodi nam culpa
            dicta! Ea facere saepe dolore porro laborum. Ipsa repellat laborum
            itaque, facilis nostrum alias omnis ad earum voluptates eum ducimus,
            illum soluta cum. Esse, a error?
        </p>
    </div>
    <div class="cursor"></div>
</section>
<!--end of about-->

<script>
      const cursor  = document.querySelector('.cursor');
      document.addEventListener('mousemove', (e) =>{
        cursor.style.left = e.pageX + 'px';
        cursor.style.top = e.pageY + 'px';
      });
    </script>
