<!-- account dropdown menu -->
@if (User.Identity.IsAuthenticated)
{
    <ul class="account_dropdown_menu_login_success">
        <li><a class="account_dropdown_item" href="./account.html">@User.GetPrincipalName()</a></li>
        <li><a class="account_dropdown_item" href="./settings.html">Tənzimləmələr</a></li>
        <li><a class="account_dropdown_item" href="#">Mesajlar(tezliklə)</a></li>
        <li><a class="account_dropdown_item" asp-controller="Account" asp-action="LogOut">Çıxış</a></li>
    </ul>
}
else
{
    <ul class="account_dropdown_menu">
        <li><a class="account_dropdown_item" asp-controller="Account" asp-action="SignIn">Giriş</a></li>
        <li><a class="account_dropdown_item" asp-controller="Account" asp-action="Register">Qeydiyyat</a></li>
    </ul>
}

<!-- account dropdown menu end -->
