<!-- sidebar menu -->
<div class="sidebar_menu">
    <div class="sidebar_menu_close_button">
        <i class="fa fa-close"></i>
        Bağla
    </div>
    <div class="search_bar">
        <form action="#" class="search_bar_form">
            <input type="text"
                   class="search_bar_input"
                   name="search"
                   autocomplete="off"
                   placeholder="Search..."
                   required="" />
        </form>
    </div>
    <ul class="sidebar_menu_list">
        <li class="sidebar_menu_item">
            <a asp-controller="home" asp-action="index">Ana Səhifə</a>
        </li>
        <li class="sidebar_menu_item">
            <a asp-controller="shop" asp-action="index">Məhsullar</a>
        </li>
        <li class="sidebar_menu_item"><a asp-controller="blogs" asp-action="index">Bloqlar</a></li>
        <li class="sidebar_menu_item"><a href="./about.html">Haqqımızda</a></li>
        <li class="sidebar_menu_item"><a asp-controller="home" asp-action="contact">Əlaqə</a></li>
        <li class="sidebar_menu_item"><a asp-controller="faq" asp-action="index">FAQ</a></li>
    </ul>
    <div class="sidebar_menu_footer">
        <p class="sidebar_menu_footer_middle_social_accounts_title">
            Sosial şəbəkələrdə bizi izləyin.
        </p>
        <ul class="sidebar_menu_footer_middle_social_list">
            <li class="sidebar_menu_footer_middle_social_item">
                <a href="#" class="sidebar_menu_footer_middle_social_link">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li class="sidebar_menu_footer_middle_social_item">
                <a href="#" class="sidebar_menu_footer_middle_social_link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="sidebar_menu_footer_middle_social_item">
                <a href="#" class="sidebar_menu_footer_middle_social_link">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
            <li class="sidebar_menu_footer_middle_social_item">
                <a href="#" class="sidebar_menu_footer_middle_social_link">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </li>
            <li class="sidebar_menu_footer_middle_social_item">
                <a href="#" class="sidebar_menu_footer_middle_social_link">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </li>
            <li class="sidebar_menu_footer_middle_social_item">
                <a href="#" class="sidebar_menu_footer_middle_social_link">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- end of sidebar menu -->