@model ContactPost
@{
    ViewData["Title"] = "əlaqə";
}

<!-- contact -->
    <div class="page-content mt-10 pt-7">
      <section class="contact_section">
        <div class="contact_title">
          <h1 class="contact_title_text">Əlaqə</h1>
          <h1 class="contact_title_description">
            Təklif və iradlarınızı bildirin. <br>
            Qeyd etdiyiniz məlumatlar tamamilə gizli qalacaq.
          </h1>
        </div>
        <div class="container">
          <div class="row justify-content-center align-items-center">
            
            <div
              class="col-lg-9 col-md-8 col-sm-6 d-flex align-items-center mb-4"
            >
              <div class="w-100">
                <form class="pl-lg-2" id="contact-form" method="post">
                  <div class="row mb-2">
                    <div class="col-12 mb-4">
                      <textarea
                        class="contact_message_area"
                        placeholder="Mesaj*"
                        asp-for="Message"
                      ></textarea>
                    </div>
                    <div class="col-md-6 mb-4">
                      <input
                        class="contact_name_area"
                        type="text"
                        placeholder="Ad, Soyad *"
                        asp-for="FullName"
                      />
                    </div>
                    <div class="col-md-6 mb-4">
                      <input
                        class="contact_email_area"
                        type="email"
                        placeholder="Email *"
                        asp-for="Email"
                      />
                    </div>
                  </div>
                  <input type="submit" class="btn w-100 contact_submit" value="Göndər">
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end of contact -->

@section css{
    <link rel="stylesheet" type="text/css" href="~/admin/assets/libs/toastr.js/toastr.min.css">

}


@section js{

    
    <script src="~/admin/assets/libs/toastr.js/toastr.min.js"></script>
    <script>

        $(document).ready(function() {

            $('#contact-form').submit(function(e) {

                e.preventDefault();

                let formData = new FormData(e.currentTarget);

                $.ajax({
                    type: "post",
                    url: "@Url.Action("Contact")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.error == true) {
                            toastr.error(response.message, '');
                            return;
                        }
                        toastr.success(response.message, '');

                        e.currentTarget.reset();
                    }

                })
            })

        })

    </script>
}