<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-area="admin" asp-controller="Brands" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Brendlər</span>
                </a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Categories" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Kateqoriyalar</span>
                </a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="PostTags" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Teqlər</span>
                </a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Specifications" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Spesifikasiyalar</span>
                </a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Blogposts" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Bloqlar</span>
                </a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Contactposts" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Sorğular</span>
                </a>
            </li>
            <li>
                <a asp-area="admin" asp-controller="Products" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Məhsullar</span>
                </a>
            </li>
             <li>
                <a asp-area="admin" asp-controller="Users" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">İstifadəçilər</span>
                </a>
            </li>
        </ul>
    </div>
</nav>