@model List<Product>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <ul class="search_ul" id="search-ul">
                @foreach (Product product in Model)
                {
                    @if (product.DeletedById == null)
                    {
                        var imagePath = product.Images.FirstOrDefault(i => i.IsMain).ImagePath;
                       <li class="search_ul_list_item">
                    <a class="search_ul_list_item_link d-flex align-items-center"
                       asp-action="productdetails" asp-route-id="@product.Id">
                        
                            <img class="search_ul_list_item_image"
                                 src="~/uploads/images/products/@imagePath" />
                        
                            <h6 class="search_ul_list_item_name">@product.Name</h6>
                    </a>
                </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>