@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/images/logos/favicon.png" />
    <title>diff - ana səhifə</title>
    <!-- bootstrap css -->
    <link rel="stylesheet"
          href="assets/vendors/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <!-- font awesome css-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- swiper css -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.0/swiper-bundle.css"
          integrity="sha512-W3EpFysZWfMjkA5NIsJ1jQbd2CvZrEY0YRB16wlQdePUuxykf4E47/Yqajz2vkCRcMYkxY9+CHY6r2Al0AExBQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.0/swiper-bundle.min.css"
          integrity="sha512-yc4PGj02iLvj10vj/LWAYicOfMW7vxfZgBw2O9Tur3hIym//P/HwOwNLcLsE5bL+yTo+qqWE8lvPmtKCF/twdw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!-- custom css -->
    <link rel="stylesheet" href="./assets/scss/style.css" />
</head>
<body>

    <!--preloader -->
    <div class="preloader">
        <span>d</span>
        <span>i</span>
        <span>f</span>
        <span>f</span>
    </div>
    <script>

        setTimeout(function() {
            window.location.href = '@Url.Action("Index","Home")';
        }, 3000);

    </script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jquery js -->
    <script src="./assets/vendors/jquery-3.6.0/jquery-3.6.0.min.js"></script>

    <!-- swiper js -->
    <script src="./assets/vendors/Swiper/js/swiper-bundle.min.js"></script>

    <!--scrollreveal js -->
    <script src="./assets/vendors/ScrollReveal/scrollreveal.min.js"></script>
    <!-- custom js -->
    <script src="./assets/js/script.js"></script>
</body>
</html>


