@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}
@font-face {
  font-family: "Futurica";
  src: url("../fonts/Futurica.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url(../css/reset.css);
$green: #4fff79;
$gray: #e0e0e0;
$border-color: #00000025;
$success-color: #2ecc71;
$error-color: #e74c3c;
$footer-background-color: #222;
$footer-border-color: #e0e0e042;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;        font-family: 'Marcellus', serif;

  font-weight: 400;
}
body {
  background-color: $gray;
}
